// COLORS
// Gray

$color-gray-one: #4D4D4D;
$color-gray-two: #D8D8D8;
$color-gray-three: #E6E6E6;

// Red
$color-red-one: rgb(186, 0, 0);

// FONTS

$font-encode: 'Encode Sans';
$font-encode-cond: 'Encode Sans Condensed';