// COLORS

$Base-Color: #4D4D4D;

// Gray

$color-gray-4D: #4D4D4D;
$color-gray-D8: #D8D8D8;
$color-gray-E6: #E6E6E6;

$color-gray-one: #4D4D4D;
$color-gray-two: #D8D8D8;
$color-gray-three: #E6E6E6;

// Red
$color-red: rgb(186, 0, 0);

// FONTS

$font-encode: 'Encode Sans';
$font-encode-cond: 'Encode Sans Condensed';